/* CSS */

html, body, p {
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    background-color: black;
    color: rgb(0,255,43);
    margin: 10px
}


button {
    margin: 20px;
    font-family: 'IBM Plex Mono', monospace;
    color: rgb(0,255,43);
    border-color: 0.5px solid white;
    border-radius: 4px;
    background-color: black;
    padding: 9px;
}